# Python
__pycache__/
*.py[cod]
*.pyc

# Django Migrations (except __init__.py)
#**/migrations/
#!**/migrations/__init__.py

# SQLite database
#db.sqlite3

# Environment
.env
*.env
venv/
env/
ENV/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db
